.row2{
    height:8rem;
}
.col22{
    text-align: center;
    padding:5rem;
    color:#7B6EA3;
    bottom: 1.5rem;
}
.col23{
    text-align: center;
    padding:4rem;
    color:#7B6EA3;
}
.para2-1{
    background:white;
    width:12rem;
    height:3rem;
    position:relative;
    bottom: 1.5rem;
    padding:0.5rem;
}