
.row5{
    height:22rem;
}

.container2{
    height:30px;
}

.col51{
    text-align:center;
    width:30rem;
    height: 23rem;
    position:relative;
    top:2rem;
    right:28px;
    background:white;
    padding:3rem;
    margin-top:-3rem;
}


.col52 p{
    text-align:center;
    width:30rem;
    height: 23rem;
    position:relative;
    top:2rem;
    left:16px;
    background:white;
    padding:3rem;
    margin-top:-3rem;

}

.col53 {
    text-align:left;
    width: 30rem;
    height: 23rem;
    position: relative;
    top: 2rem;
    left: 63px;
    background: white;
    padding: 3rem;
    margin-top: -3rem;
}
.col53 p{
    position:relative;
    right:10px ;


}

.one, .two, .three, .four, .five{
    width:29rem;
    padding-top:1rem;
    padding-bottom:-1;
    padding-right:1rem;
}




