
.col61 p{
    text-align:center;
    margin-top:-3rem;
    border:1px solid #E5E9EC;
    position:relative;
    top:2rem;
    right:12px;
    background:#F2F3F4;

}


.col62 p{
    text-align:center;
    margin-top:-3rem;
    border:1px solid #E5E9EC;
    position:relative;
    top:2rem;
    left:16px;
    background:white;
    background:#F2F3F4;


}

.col63 p{
    text-align:center;
    margin-top: -3rem;
    border:1px solid #E5E9EC;
    position: relative;
    top: 2rem;
    left: 47px;
    background:#F2F3F4;

}
