.col41{
    text-align:center;
    padding:1rem;
    width:30rem;
    height: 3rem;
    position:relative;
    right:27px;
    background:white;
    margin-top:-0.6px;
}
.col42{
    margin-top:-0.6px;
}
.col42 p{
    text-align:center;
    width:30rem;
    height: 3rem;
    position:relative;
    top:0rem;
    left:1rem;
    background:white;
    padding:19px;

}
.col43 p{
    text-align:center;
    width:30rem;
    height: 3rem;
    position:relative;
    top:0rem;
    left:3rem;
    background:white;
    padding:19px;


}