.on{
    width:2rem;
}
.logo2{
    width:2rem;
}
.logo2-2{
    width:2rem;
}
.logo3{
    width:2rem;
}
.announcementUnchecked{
    width:1.8rem;
}
.up{
    width:1rem;
    position:absolute;
    left:21px;
    top:7px;
}
.userGrey{
    width:1.6rem;
}
.calendars{
    width:1.8rem;
}
.logo4{
width:30rem;
height: 21rem;
position:relative;
right:16px;
}
.logo5{
width:30rem;
height: 21rem;
position:relative;
top:0rem;
left:1rem;
}
.Capture{
position:relative;
right:-1rem;
height: 21rem;
}
.redBell{ max-height: 1.5rem;}
.chrono{max-height: 2rem;}
.alertOrange{max-height: 2rem;}

.blueBubble{    max-width:4px;}
.logo6{
    width:6px;
    position:relative;
    right:2.8rem;
}


.plus{    width:2rem;}

.Front20Office,.mandatory{
   padding-top:2.5rem;
    padding-bottom:1rem;
    width:25rem;
}
.Middle20Office,.Back20Office,.M20with20choice,.Voluntary20 {
    padding-bottom:1rem;
    width:25rem;
}
.down{
    width:30px;
}


