.col91,.col92,.col93{
    border:2px solid #C8D7E1;
   margin-left:26px;
    max-width:30rem;

}

.col91p,.col92p,.col93p{
    border:2px solid #C8D7E1;
    padding:1.2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    position:relative;
    top:3px;
    right:16px;
    width:30rem;

}

.container2-col11{
    border-bottom: 2px solid #C8D7E1;
}

