
.row8{
    padding:2rem;
    background:white;
    position:relative;

}

.col81 .s1,.col81 .s3{
    border:2px solid #C8D7E1;
    margin:2rem;

}
.col81 .s2,.col81 .s4{
background:#B7CAE0;
    font-size: 16px;
}
.up1{
    width:1rem;
}