




.col51{
    background:blueviolet;
    background:#B7CAE0;
}
.col511{
    background:#B7CAE0;
}

.col52{background:#FFE4B4;}
.col521,.col522{background:#B7CAE0;}
.col531,.col532,.col541,.col551{background:#B7CAE0;}



.col53{background:#C7FFB2;}
.col54{background:#FAC0FB;}



