*{

    margin:0;
    box-sizing: border-box;
}
body{
    background:#F2F3F4  ;

}
.my-container{
    background:#F2F3F4  ;


}
.row1{
    background:white;
}
.col0{
    background: #7B6EA3 ;
    width:1800px;
    height:10px;
}

.col11{
    color:black;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.col11 strong{
    color:#7B6EA3;
}
.col12{
    right:0px;
    padding:2px;
}


