.row7{
    height:4rem;
}
.ch1{
    background:white;
    padding:1.2rem;
}

.ch2,.ch3,.ch4{
    padding:1.2rem;
}
.bouton-row7-1{
    background:#61D9F6;
    font-size:12px;
    width:120px;
    height:40px;
    margin:2rem;

    position:relative;
    bottom:2.5rem;
    right:2rem;

}
.bouton-row7-2{
    background:#61D9F6;
    font-size:12px;
    width:120px;
    height:40px;
    margin:1rem;
    position:relative;
    bottom:2.5rem;
    right:2.6rem;
}
.bouton-row7-3{

    width:120px;
    background:#79AED2;
    font-size:12px;
    height:40px;
    margin:1rem;
    position:relative;
    left:19rem;
    bottom:8rem;
}


.col75 p{
    padding:1.5rem;
}