

.col41{
background:yellow;

    background:#B7CAE0;
    padding:0;

}
.col41 p{
    position:relative;
    left:34px;
    background:#B7CAE0;
    padding:0;
}
.col42{
    padding:0;
}
.col42 p{
    position:relative;


    padding:0;
}