.on{
    width:2rem;
}

.announcementUnchecked{
    width:1.8rem;
}
.up{
    width:1rem;
    position:absolute;
    left:21px;
    top:7px;
}
.down,.down1,.down2, .down3, .down4{
    text-align: left;
    width:1rem;

}
.userGrey{
    width:1.6rem;
}
.calendars{
    width:1.8rem;
}
.calendarBlue, .calendarRed{
    width:2rem;
}
.blueBubble{    width:1rem;background:#B7CAE0;}
.blueBubbleCircle{width:1rem;background:#B7CAE0;}
.greenBubble{width:1rem;background:#B7CAE0;}
.greenBubbleCircle{width:1rem;background:#B7CAE0;}
.orangeBubble{width:1rem;background:#B7CAE0;}
.announcementUnchecked{width:1rem;background:#B7CAE0;}
.bg{
    width:2.83rem;
    margin:-6px;
    background:#B7CAE0;
}
.annoucementLeft, .logo2,.logo3,.logo4,.logo5{
    height:2rem;
    position:relative;
    right:1rem;
    background:#B7CAE0;
}




